[Desktop Entry]
Name=python_postar_gui
Comment=Python Postar GUI
Exec=python_postar_gui
Icon=icon_linux.png
Terminal=false
Type=Application
Categories=Utility;
